body {
    background-image: url("https://i.pinimg.com/originals/bb/0d/45/bb0d4572eae04ea2b806c6a05b0e2afa.jpg");
    background-color: #cccccc;
}
.container{
    box-sizing: 100%;
    margin-top: 20px;
    padding: 50px;
    background-color: White;
}

h1{
    color: teal;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textbox{
    float: left;
}

img{
    margin-top:30px;
}